<%= form_for(tattoo) do |f| %>
  <% if tattoo.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(tattoo.errors.count, "error") %> prohibited this tattoo from being saved:</h2>

      <ul>
        <% tattoo.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
          <% end %>
      </ul>
    </div>
    <% end %>
      <div class="container">
        <div class="card-panel">
          <div class="field">
            <%= f.label :descripcion %>
              <%= f.text_field :descripcion %>
          </div>

          <div class="field">
            <%= f.collection_select:tatuador_id, Tatuador.order(:nombre), :id, :nombre, include_blank:false, :class=>'browser-default' %>
          </div>

          <div class="field">
            <%= f.file_field :avatar %>
          </div>



          <div class="actions waves-effect blue darken btn">
            <%= f.submit %>
          </div>
        </div>
      </div>

      <% end %>