<h1 class="center">Editing Tattoo</h1>

<%= render 'form', tattoo: @tattoo %>

    <div class="center-align">
        <%= link_to 'Show', @tattoo, :class=>'waves-effect blue darken btn' %> |
        <%= link_to 'Back', tattoos_path, :class=>'waves-effect blue darken btn' %>
    </div>