<p id="notice">
  <%= notice %>
</p>
<h1 class="center">Tattoos</h1>
<div class="container">
  <div class="card-panel">
    <div class="right-align">
      <% if current_user.role == 'Editor'%>
        <%= link_to 'New', new_tattoo_path, :class=>'btn-floating btn-large green accent-4' %>
        <%= link_to 'Artist', tatuadors_path, :class=>'btn-floating btn-large blue darken' %>
      <% end %>
    </div>
    <table class="highlight">
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Descripcion</th>
          <th>Artista</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @tattoos.each do |tattoo| %>
          <tr>
            <td>
              <%= image_tag tattoo.avatar, :class=>'tattooimg' %>
            </td>
            <td>
              <%= tattoo.descripcion %>
            </td>
            <td>
              <%= Tatuador.find(tattoo.tatuador_id).nombre %>
            </td>

            <td>
              <%= link_to 'Show', tattoo, :class=>'waves-effect blue darken btn'%>
              <% if current_user.role == 'Editor'%>
                <%= link_to 'Edit', edit_tattoo_path(tattoo), :class=>'waves-effect green accent-4 btn' %>
                <%= link_to 'Destroy', tattoo, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'waves-effect red darken btn' %>
              <% end %>
            </td>
          </tr>
          <% end %>
      </tbody>
      <%= paginate @tattoos %>
    </table>


  </div>
  
</div>


<br>

