<p id="notice">
  <%= notice %>
</p>


<div class="container">
  <div class="card-panel">
    <div class="center">
      <%= image_tag @tattoo.avatar, :class=>'tattooshow' %>
    </div>

    <p>
      <strong>Descripcion:</strong>
      <%= @tattoo.descripcion %>
    </p>
    <p>
      <strong>Artista:</strong>
      <%= Tatuador.find(@tattoo.tatuador_id).nombre %>
    </p>

  </div>
</div>




<p>

</p>
<div class="center-align">
<% if current_user.role == 'Editor'%>
  <%= link_to 'Edit', edit_tattoo_path(@tattoo), :class=>'waves-effect blue darken btn' %> |
<% end %>
  <%= link_to 'Back', tattoos_path, :class=>'waves-effect blue darken btn' %>
</div>