// Place all the styles related to the tattoos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "materialize";

@import "https://fonts.googleapis.com/icon?family=Material+Icons";

select{
    display: flex;
}

.tattooimg{
    height: 200px;
    width: 200px;
}

.tattooshow{
    height: 300px;
    width: 300px;
}

.btn{
    color: white !important;
}
.pagination{
    background-color: white;
}



