<%= form_for(tatuador) do |f| %>
  <% if tatuador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tatuador.errors.count, "error") %> prohibited this tatuador from being saved:</h2>

      <ul>
      <% tatuador.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="card-panel">
    <div class="field">
      <%= f.label :nombre %>
      <%= f.text_field :nombre %>
    </div>

    <div class="actions waves-effect blue darken btn">
      <%= f.submit %>
    </div>
  </div>
</div>
  
<% end %>
