<p id="notice"><%= notice %></p>

<h1 class="center">Tatuadors</h1>
<div class="container">
    <div class="card-panel">
      <table class="highlight centered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th colspan="3">Acciones</th>
          </tr>
        </thead>

        <tbody>
          <% @tatuadors.each do |tatuador| %>
            <tr>
              <td><%= tatuador.nombre %></td>
              <td><%= link_to 'Show', tatuador,:class=>'waves-effect blue darken btn' %>
              <%= link_to 'Edit', edit_tatuador_path(tatuador),:class=>'waves-effect green accent-4 btn' %>
              <%= link_to 'Destroy', tatuador, method: :delete, data: { confirm: 'Are you sure?' },:class=>'waves-effect red darken btn' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


<br>
<div class="container">
  <div class="right">
    <%= link_to 'New Tatuador', new_tatuador_path,:class=>'waves-effect green accent-4 btn' %>
  </div>
</div>

