<!DOCTYPE html>
<html>
  <head>
    <title>Apptattoos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col s12 right-align">
          <% if user_signed_in? %> 
            Logged in as <strong><%= current_user.email %></strong>. 
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> | 
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
          <% end %>
        </div>
      </div>
    </div>
    
    
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
