<h2 class="center">Sign up</h2>
<div class="container">
  <div class="card-panel">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :role %>
        <%= f.select :role, ['Editor', 'Subscriber'] %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", :class=>'waves-effect blue darken btn' %>
      </div>
    <% end %>
  </div>
</div>


<%= render "users/shared/links" %>
